/* body {
    background: #f7f5f1;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

a {
    color: #c25245;
}
.logo {
    float: left;
}

ul {
    float: right;
}

li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

h1 {
    font-size: 30px;
    color: green;
}

table {
    background: white;
    border: 1px solid black;
    width: 100%;
}

td {
    padding: 10px;
    text-align: left;
    border: 1px solid orange;
}

th {
    border: 1px solid red;
}
hr {
    clear: both;
}
img {
    border-radius: 100%;
} */
.imgsize{
    height: 500px;
    /* width: 1024px; */
    max-width: 100%;
}
